body{
    display:flex;
    margin:0%;
    flex-direction: column;
}
header{
width: auto;
height: 100px;
background: #678983;
}
header h1{
  font-family: 'Indie Flower', cursive;
  Font-size:50px;
  padding-left:40px;
}


main{
    display:flex;
    flex-direction: row;
}

.game{
    background: #F0E9D2;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 2;

}




#score{
    height: auto;
    width: 45%;
    background: #E6DDC4;


    display: flex;
    align-items: center;
    flex-direction: column;
}

.tab{
    background: #678983;
    border-radius:20px;
    margin: 5px;
    height: 550px;
    width: 300px;
    list-style-type: none;

    display:flex;
    
    flex-direction: column;
    
}
.tab .titleScore{
    background: #E6DDC4;
    border-radius:20px;

    width: 90%;
    margin-top: 2%;
    padding: 0%;

    text-align: center;
    font-weight: bold;
    margin-bottom: auto;

   
}

.listScore li{
    background: #E6DDC4;
    border-radius:20px;

    width: 90%;
    height:70px;
    margin-top: 2%;
    padding: 0%;

    font-size: 17px;
    text-align: center;
    font-weight: bold;
    
    
}

.tab  #result{
    background: #E6DDC4;
    border-radius:20px;

    width: 270px;
    height: 67px;
    margin: 5px;
    margin-top:auto;
 
    text-align: center;
    font-weight: bold;
    
     
     
     flex-shrink: auto;
}

/*selector*/
.WeaponScreen{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.WeaponSelector{
    background: #678983;
    margin: 7%;
    padding:0 2% ;
    width: 400px;
    height: 170px;
    border-radius:20px;

    display: flex;
    flex-direction: row;
    align-items: center;

}
.PcSelector{
    background: #678983;
    margin: 5px;
    padding:10px ;
    width: 133px;
    border-radius:20px;
}
.pcshow{
    background: #F0E9D2;
    border-radius:5px;
    padding: 15px;
    margin: 5px;
    
}

#pcimg{
    width: 90px;
    height: 90px;
}
.WeaponSelector button{
    border: none;
    background: #F0E9D2;
    border-radius:5px;
    flex: auto;
    padding: 5px;
    margin: 2px;
   
  
}
.img{
    width: 100px;
    height: 120px;
}
.reloadPage{
    margin:50%;
    background: #678983;
    margin:5%;
    padding: 2%;
    border-radius:20px;
   
}
 .reloadPage button{
    border: none;
    background:#F0E9D2; 
    border-radius:5px;
    margin:2px;
}

button:hover {
background-color: #E6DDC4;
}
/* footer*/

footer{
    background-color: #678983;
    font-family: 'Indie Flower', cursive;
   Font-size:40px;
  text-align: center;
}
footer p {
    margin-bottom: 10px;
}
